body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
}

header {
    background: linear-gradient(135deg, #0061ff, #942192);
    color: white;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    animation: fadeIn 1s ease-in-out;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.content {
    padding: 20px;
    max-width: 1000px;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    flex: 1;
}

h2, h3 {
    color: #333;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

ol {
    counter-reset: section;
    list-style: none;
    padding-left: 0;
    padding-bottom: 10px;
    line-height: 1.5;
}

ol > li {
    counter-increment: section;
    padding-left: 20px;
    padding-top: 10px;
}

ol > li::before {
    content: counters(section, ".") " ";
    font-weight: bold;
    padding-top: 5px;
}

ol ol {
    counter-reset: subsection;
    padding-left: 20px;
}

ol ol > li {
    counter-increment: subsection;
}

ol ol > li::before {
    content: counters(section, ".") "." counter(subsection) " ";
    padding-top: 0px;
}

ul {
    list-style-type: disc; 
    padding-left: 30px; 
    counter-reset: none !important; 
    line-height: 1.5;
}

ul li {
    padding-left: 5px;
    padding-top: 5px;
    line-height: 1.5;
}

ul li::before {
    content: "";
    font-weight: normal;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 40px;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: normal;
    font-size: small;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .content {
        padding: 15px;
    }
}